<head>
    <meta charset="utf-8">
    <meta property="og:title" content="QA Sampa Meeting">
    <meta property="og:description" content="QA Sampa Meeting">
    <meta property="og:image" content="http://qasampameeting.com.br/assets/img/logo-icon.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/materialize.min.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}"> -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Modernizr -->
    <script src="{{ "/assets/js/materialize.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
