<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo"><img class="responsive-img" src="/assets/img/logo-small.png"></a>
    <ul class="right hide-on-med-and-down">
      {% for link in site.navigation %}
        <li class="{% if page.url contains link.url %}active{% endif %}{% if link.title contains 'apoie' %}blue lighten-1{% endif %}">
          <a href="{{ link.url | prepend: site.baseurl }}" class="{% if link.title contains 'apoie' %}white-text{% endif %}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul id="nav-mobile" class="sidenav">
      {% for link in site.navigation %}
        <li class="{% if link.title contains 'apoie' %}blue lighten-1{% endif %}">
          <a href="{{ link.url | prepend: site.baseurl }}" class="{% if link.title contains 'apoie' %}white-text{% endif %}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>