body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  display: flex;
  flex-direction: column-reverse;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.qasp-title:after {
  content: ".";
  color: #26a69a;
}

.text-justify {
  text-align: justify;
}

/* SUPPORTERS */
.supporters {
  padding-top: 5px;
  padding-bottom: 20px;
}

.supporters-logos {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.supporters-logos a {
  flex: 1 0 21%;
}

.supporters-logos-vertical {
  display: flex;
  flex-direction: column;
}

/* SPONSORS */
.sponsors {
  padding-top: 5px;
  padding-bottom: 20px;
}

.sponsors-logos {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.sponsors-logos a {
  flex: 1 0 21%;
}

.sponsors-logos-vertical {
  display: flex;
  flex-direction: column;
}

.qasp-form {
  margin-top: 15px;
}

.qasp-speaker-card .card .card-content {
  height: 105px;
}

.qasp-speaker-card .card .card-content .card-title {
  width: 100%;
}

.qasp-event-card .card-image img {
  filter: brightness(50%);
}

.qasp-event-card.card .card-image .card-title {
  padding: 5%;
}

.qasp-home-speaker-card.card .card-content {
  padding: 5%;
  height: 92px;
}

.qasp-home-speaker-card.card .card-content a {
  width: 100%;
  text-align: center;
}