body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  display: flex;
  flex-direction: column-reverse;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.qasp-title:after {
  content: ".";
  color: #26a69a;
}

.text-justify {
  text-align: justify;
}

.sponsors {
    background-color: #FFF;
    height: 338px;
    text-align: center;
    font-size: 30px;
}

.sponsors:after {
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: solid 15px #FFF;
    width: 0;
    position: relative;
    top: 38px;
}

.sponsors h5 {
    color: #5DA092;
    margin-bottom: 15px;
    padding-top: 15px;
}

.sponsors .logos{
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    justify-content: center;
    margin: auto;
}

.sponsors .logos a img {
    width: 110px;
    text-align: center;
    margin: 0 7px;
}